<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if defined? @admin_edit %>
  <div class=''>
    <h4><%= _("Merge Articles") %></h4>
    <div class="col-lg-6">
      	<%= form_tag :controller => admin_content_path, :method => 'post', :action => 'merge' ,:id => @article.id do %>
	        <label class="">Article ID </label>
	        <input type="text" class="form-control" name="merge_with" id="merge_with">
	        <br>
	        <input type="submit" class="btn btn-default" id="merge_button" name="Merge Articles" value="Merge Articles"> 
		<% end %>        
    </div><!-- /.col-lg-6 -->
  </div>
<% end %>